* {
    margin: 0;
    padding: 0;
}

body {
    background: #F7F7F7;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

}

#fixed_top {
    position: fixed;
    width: 100%;
    z-index: 1000;
    /*This font comes from Google fonts, it is imported via a <script> tag in the .html files */
    font-family: Dosis;
}

#content {
    padding-top: 110px;
}

#header {
    background: #F7F7F7;
    height: 35px;
    padding: 9px 10px 9px 10px;
    float: top;
}

#header_text {
    color: #000000;
    display:inline-block;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 0 0 20px;
}

#g20_logo {
    float: right;
}

#logo_img {
    height: 40px;
    margin-right: 15px;
    margin-top: -3px;
}

#menu {
    background: #003182;
    padding: 7px 10px 7px 10px;
}

#menu a {
    padding: 9px 22px 5px 16px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 18px;
    border: 0;
}

#menu a:hover {
    color: #c4c4c4;
}

#menu #current_page {
    color: #c4c4c4;

}

#buttons {
    margin-left: 10px;
    margin-top: -21px;
    background: #F7F7F7;
    position: fixed;
    z-index: 1000;
    padding-top: 5px;
}

table {
    white-space: nowrap;
    border: none;
}

#charts {
    padding: 20px 10px 0 10px;
    width: 90%;
}

.column_chart {
    width: 100%;
}

.geo_chart {
    width: 800px;
    height: 550px;
}

.dashboard {
    width: 100%;
    vertical-align: top;
}

.category_filter {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 100px;
}

.bottom_filter {
    margin-top: -70px;
}

button {
    display: inline-block;
    border: none;
    padding: 11px 11px 11px 11px;
    margin: 0;
    text-decoration: none;
    background: #1a9de3;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.enabled {
    background: #126898;
    outline: 1px solid #fff;
    outline-offset: -4px;
    transform: scale(0.99);
    font-weight: bold;
}

button:active {
    transform: scale(0.99);
}

#welcome, about {
    padding: 0 50px 20px 50px;
    line-height: 20px;
}